.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  .loader__icon {
    width: 4em;
    height: 4em;
    pointer-events: none;
    animation: App-logo infinite 1s linear;
  }
}

@keyframes App-logo{
    from {
        color: rgb(38, 136, 255);;
        transform: rotate(0deg);
    }
    to{
        color: rgb(66, 75, 245);
        transform: rotate(360deg);
    }
}
