@import "_config";

.weather__report {
  width: 100%;
  height: 100%;
  &__header {
    position: sticky;
    top: 0;
    left:0;
    z-index: 10;
    box-shadow: 0 5px 10px 8px rgba(0,0,0,.1);
    padding: 1em 2em;
    background: white;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  .error-alert {
    width: 100%;
    text-align: center;
  }
  &__nav {
    flex-basis:2 1 50%;
    align-self: center;
    &__list {
      padding: 0;
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      &__item {
        align-self: baseline;
        margin-right: 1em;
      }
    }
  }
  &__title {
    flex-basis: 50%;
    letter-spacing: -0.02em;
    line-height: 2;
    margin: 0;
  }
  &__main {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
